@charset "UTF-8";

/* Paleta de cores: 
verde: #49a09d
lilás: #5f2c82
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #602c82d5;
    width: 100vw;
    height: 100vh;
}
h1{
    text-align: center;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.897);
}
p{
    text-align: justify;
    text-align: center;
    padding-top: 10px;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 260px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    transition: width 0.4s, heigth 0.4s;
}
form > div.campo{
    display: block;
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 10px;
    border: 2px solid #5f2c82;
}
form label{
    display: none;
}
section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagenslogin/login.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
}
form > div > input[type=submit] {
    display: block;
    background-color: #49a09d;
    font-size: 1.0em;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px transparent;
    border-radius: 5px;

}
form > div > input[type=submit]:hover {
    background-color: #295a58; 
}
form > div > a{
    display: block;
    background-color: white;
    color:  #49a09d;
    text-decoration: none;
    text-align: center;
    border: 1px solid #49a09d;
    padding: 10px;
    border-radius: 5px;
}
form > div > a:hover{
    background-color: #295a58;
    color: white;

}
form > div > span{
    display: inline-block;  
    color: rgba(255, 255, 255, 0.651);
    width: 40px;
    padding: 10px;
}
form > div > input{
    background-color: #5eafac ;
    border-radius: 10px;
    border: none;
    height: 100%;
    width: calc(100% - 44.39px);
    transform: translateY(-11px);
    padding: 3px;
}
div.campo > input:focus-within {
    background-color: rgba(255, 255, 255, 0.863);
    border: none;
    
}
input::placeholder{
    color: rgba(0, 0, 0, 0.795);
}
